<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="wrapper">
        <main class="container-fluid px-0">
            <header class="row gx-0">
                <div class="col">
                    <ul class="nav flex-row-reverse">
                        <li class="nav-item">
                            {{#if loggedIn}}
                            <button id="logout" class="btn btn-link nav-link">Sign Out</button>
                            {{else}}
                            <a class="nav-link" href="/login{{#if nextUrl}}?_next={{nextUrl}}{{/if}}">Log In</a>
                            {{/if}}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                    </ul>
                    <div class="d-inline-block">
                        <h1 class="title">Tech Blog</h1>
                        <p class="subtitle">Happy Coding❤️</p>
                    </div>
                </div>
            </header>
            <content class="row gx-0">
                <div class="col-12">
                    {{{ body }}}
                </div>
            </content>
        </main>
        
    </div>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>


