{{!-- <div class="posts">
    {{#unless posts }}
    <p class="center-align">No posts to display!</p>
    {{/unless}}
    <div class="row">
        {{#each posts}}
        {{> post-info}}
        {{/each}}
    </div>
</div> --}}

<div class="user">
    {{#if username}}
    <h2 class="mb-3">{{username}}'s Posts</h2>
    {{/if}}
    {{#if posts}}
    {{#each posts}}
    {{>post-info}}
    {{/each}}
    {{else}}
        {{#if username}}
        <p class="p-1 text-muted"><em>{{username}} hasn't written any posts.</em></p>
        {{else}}
        <p class="p-1 text-muted"><em>No posts.</em></p>
        {{/if}}
    {{/if}}
</div>